*{
    margin: 0;
    padding: 0;
}

input.form-control{
    background-color: rgba(255, 255, 255, 0.178);
}

.carousel{
    margin-top: 100px;
}

.icon {
    border: 0.5px solid rgba(0, 0, 0, 0.185);
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
}

p.regBtn, p a{
    text-decoration: none;
    font-size: 2vh;
}

.mainColor {
    background-color: #323A5A;
}

.txtMain {
    color: #323A5A;
}
.capt{
    position: unset;
}
